# URL de la Aplicación Web de Google Apps Script para inscripciones
NEXT_PUBLIC_GOOGLE_SHEET_URL=

# Configuración de Sanity.io
NEXT_PUBLIC_SANITY_PROJECT_ID=wio7pxvt
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-03-01

# Web3Forms API Key para el formulario de contacto (https://web3forms.com)
NEXT_PUBLIC_WEB3FORMS_ACCESS_KEY=
